.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid-row {
  display: flex;
  flex-direction: row;
}

.grid-cell {
  border-top: 1px solid #000000;
  border-left: 1px solid #000000;

  width: 15px;
  height: 15px;
}

.grid-cell-border {
  background-color: #000000;
}

.grid-cell-snake {
  background-color :green;
}

.grid-cell-snack {
  content:url(https://www.jing.fm/clipimg/full/121-1217819_8-bit-clipart-pac-man-8-bit-pacman.png);
}

.grid-cell-hit {
  content:url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRo7iLMUDgE9LfzUUzBCjgL25EoQv982H3cUhuBQxqp7cqdZ_GW);
}